.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }

.twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px; }

.twentytwenty-vertical .twentytwenty-before-label:before, .twentytwenty-vertical .twentytwenty-after-label:before {
  left: 50%;
  margin-left: -45px;
  text-align: center;
  width: 90px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow, .twentytwenty-up-arrow, .twentytwenty-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px; }

.twentytwenty-up-arrow, .twentytwenty-down-arrow {
  left: 50%;
  margin-left: -6px; }

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .twentytwenty-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
    background: rgba(0, 0, 0, 0); }
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
    .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
      opacity: 0; }
  .twentytwenty-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }
  .twentytwenty-before-label:before {
    content: "Before"; }

.twentytwenty-after-label {
  opacity: 0; }
  .twentytwenty-after-label:before {
    content: "After"; }

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px; }

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px; }

.twentytwenty-vertical .twentytwenty-before-label:before {
  top: 10px; }

.twentytwenty-vertical .twentytwenty-after-label:before {
  bottom: 10px; }

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .twentytwenty-overlay:hover .twentytwenty-after-label {
      opacity: 1; }
    .twentytwenty-overlay:hover .twentytwenty-before-label {
      opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-vertical .twentytwenty-handle:before {
  left: 50%;
  margin-left: 22px;
  -webkit-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.twentytwenty-vertical .twentytwenty-handle:after {
  right: 50%;
  margin-right: 22px;
  -webkit-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

.twentytwenty-up-arrow {
  border-bottom: 6px solid white;
  top: 50%;
  margin-top: -17px; }

.twentytwenty-down-arrow {
  border-top: 6px solid white;
  bottom: 50%;
  margin-bottom: -17px; }

/**
 * Return the configured layout direction for floats etc.
 * @return {string} - The direction in left/right format.
 */
/**
 * Return the opposite of the configured layout direction for floats etc.
 * @return {string} - The direction in left/right format.
 */
/**
 * Set up the layout direction.
 */
/**
 * Enable debugging environment that applies a translucent background to every element on the page.
 * @param {string} [$color:blue] - The color to be lightened in the debugging environment.
 */
/**
 * Set an element's width and margin-right gutter by ratio.
 * @param {number} [$ratio:1] - A width relative to its container as a fraction.
 * @param {string} [$gutter:$elf-gutter] - Specify the gutter width as any unit.
 */
/**
 * Make elements automatically drop down a row when the specified item is reached.
 * @param {number} [$item:0] - Item to be the last in the row.
 * @param {string} [$uncycle:0] - Cycle to be reset. Useful in media queries.
 * @param {string} [$gutter:$elf-gutter] - Specify the gutter width as any unit.
 */
/**
 * Offset elements from one another.
 * @param {number} [$ratio:0] - Fraction to be used to offset.
 * @param {boolean} [$column:true] - Are you offsetting a column?
 * @param {string} [$gutter:$elf-gutter] - Specify the gutter width as any unit.
 */
/**
 * Set an element's width as a fraction.
 * @param {number} [$ratio:1] - A width relative to its container as a fraction.
 */
/**
 * Useful for source ordering. Shift elements to the left and right with positive and negative integers.
 * @param {number} [$ratio:0] - Fraction to be used in the shift.
 * @param {boolean} [$column:true] - Are you shifting a column?
 * @param {string} [$gutter:$elf-gutter] - Specify the gutter width as any unit.
 */
/**
 * Useful for source ordering. Removes affects applied by shift().
 */
/**
 * Apply this mixin to containing elements in order to add flexbox centering to any element.
 * @param {string} [$direction:both] - Accepts 'both', 'vertical', or 'horizontal'.
 */
/* line 3, ../../sass/core/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 5, ../../sass/core/_base.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../sass/core/_base.scss */
::-moz-selection {
  background: #232725;
  color: #fff;
  text-shadow: none;
}

/* line 12, ../../sass/core/_base.scss */
::selection {
  background: #232725;
  color: #fff;
  text-shadow: none;
}

/* line 14, ../../sass/core/_base.scss */
html {
  color: #3f4542;
  font: 400 17px sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

/* line 24, ../../sass/core/_base.scss */
body {
  width: 100%;
  height: 100%;
  font: normal 300 15px/30px "Helvetica Neue","Arial",sans-serif;
  color: #fff;
  background-color: #22313F;
}

/* line 34, ../../sass/core/_base.scss */
h1, h2, legend, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 0.25em 0;
}

/* line 41, ../../sass/core/_base.scss */
h1 {
  font-size: 2rem;
}

/* line 43, ../../sass/core/_base.scss */
h2,
legend {
  font-size: 1.4rem;
}

/* line 48, ../../sass/core/_base.scss */
h3 {
  font-size: 1.3rem;
}

/* line 50, ../../sass/core/_base.scss */
h4 {
  font-size: 1.2rem;
}

/* line 52, ../../sass/core/_base.scss */
h5 {
  font-size: 1.1rem;
}

/* line 54, ../../sass/core/_base.scss */
h6 {
  font-size: 1rem;
}

/* line 58, ../../sass/core/_base.scss */
p {
  margin-bottom: 1rem;
}
/* line 61, ../../sass/core/_base.scss */
p.lead {
  font-size: 1.125rem;
}

/* line 66, ../../sass/core/_base.scss */
a {
  color: #09a25f;
  cursor: pointer;
  text-decoration: none;
}
/* line 71, ../../sass/core/_base.scss */
a:hover {
  color: #038049;
}

/* line 76, ../../sass/core/_base.scss */
small {
  color: #8d9994;
  font-size: 0.875rem;
}

/* line 81, ../../sass/core/_base.scss */
em {
  font-style: italic;
}

/* line 83, ../../sass/core/_base.scss */
strong {
  font-weight: bold;
}

/* line 85, ../../sass/core/_base.scss */
code, pre {
  font-family: 'courier new', monospace;
}

/* line 87, ../../sass/core/_base.scss */
pre {
  overflow-x: auto;
}

/* line 89, ../../sass/core/_base.scss */
abbr {
  border-bottom: 1px dotted #8d9994;
}

/* line 91, ../../sass/core/_base.scss */
del {
  text-decoration: line-through;
}

/* line 93, ../../sass/core/_base.scss */
mark {
  background-color: #ffffb3;
}

/* line 95, ../../sass/core/_base.scss */
hr {
  background-color: transparent;
  border: solid #ccd6d2;
  border-width: 1px 0 0;
  clear: both;
  margin: 2.5rem 1rem;
}

/* line 105, ../../sass/core/_base.scss */
ul, ol {
  margin: 0 0 1rem 1.5rem;
}

/* line 107, ../../sass/core/_base.scss */
ul {
  list-style: disc;
}

/* line 109, ../../sass/core/_base.scss */
ol {
  list-style: decimal;
}

/* line 111, ../../sass/core/_base.scss */
dl {
  margin-bottom: 1rem;
}
/* line 114, ../../sass/core/_base.scss */
dl dt {
  font-weight: bold;
}
/* line 115, ../../sass/core/_base.scss */
dl dd {
  margin-left: 1rem;
}
/* line 36, ../../sass/core/_grid.scss */
dl.advanced:before, dl.advanced:after {
  content: "";
  display: table;
}
/* line 42, ../../sass/core/_grid.scss */
dl.advanced:after {
  clear: both;
}
/* line 120, ../../sass/core/_base.scss */
dl.advanced dt {
  float: left;
  width: 31.25%;
  margin-left: 0%;
  margin-right: 2.08333%;
}
/* line 122, ../../sass/core/_base.scss */
dl.advanced dd {
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: 0%;
}

/* line 3, ../../sass/core/_states.scss */
.is-hidden {
  display: none !important;
}

/* line 5, ../../sass/core/_states.scss */
.is-hidden, .is-invisible {
  visibility: hidden !important;
}

/* line 7, ../../sass/core/_states.scss */
.is-active, .is-visible {
  display: block;
}

/* line 9, ../../sass/core/_states.scss */
.left {
  float: left;
}

/* line 11, ../../sass/core/_states.scss */
.right {
  float: right;
}

/* line 13, ../../sass/core/_states.scss */
.text-left {
  text-align: left;
}

/* line 15, ../../sass/core/_states.scss */
.text-right {
  text-align: right;
}

/* line 17, ../../sass/core/_states.scss */
.text-center {
  text-align: center;
}

/* line 19, ../../sass/core/_states.scss */
.nowrap {
  white-space: nowrap;
}

@media (min-width: 34.70588rem) {
  /* line 3, ../../sass/core/_layout.scss */
  .l-full {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
  }
}

@media (min-width: 34.70588rem) {
  /* line 8, ../../sass/core/_layout.scss */
  .l-two-third {
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
  }
}

@media (min-width: 34.70588rem) {
  /* line 13, ../../sass/core/_layout.scss */
  .l-half {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
  }
}

@media (min-width: 34.70588rem) {
  /* line 18, ../../sass/core/_layout.scss */
  .l-one-third {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%;
  }
}

/* line 36, ../../sass/core/_grid.scss */
.l-grid:before, .l-grid:after {
  content: "";
  display: table;
}
/* line 42, ../../sass/core/_grid.scss */
.l-grid:after {
  clear: both;
}
/* line 26, ../../sass/core/_layout.scss */
.l-grid li {
  float: left;
  width: 29.16667%;
  margin-left: 2.08333%;
  margin-right: 2.08333%;
}

/* line 29, ../../sass/core/_layout.scss */
.l-first {
  clear: left;
}

/* line 32, ../../sass/core/_layout.scss */
div.l-container {
  margin: auto;
  max-width: 67.05882rem;
  padding: 1rem;
}
/* line 36, ../../sass/core/_grid.scss */
div.l-container:before, div.l-container:after {
  content: "";
  display: table;
}
/* line 42, ../../sass/core/_grid.scss */
div.l-container:after {
  clear: both;
}
@media (min-width: 45.23529rem) {
  /* line 32, ../../sass/core/_layout.scss */
  div.l-container {
    padding: 2rem;
  }
}

/* line 3, ../../sass/shared-components/_buttons.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 9, ../../sass/shared-components/_buttons.scss */
.button,
input[type=submit],
button, .button--neutral,
input[type=submit].button--neutral,
button.button--neutral, .button--success,
input[type=submit].button--success,
button.button--success, .button--alert,
input[type=submit].button--alert,
button.button--alert {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 0.25rem 0;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  vertical-align: bottom;
}
/* line 28, ../../sass/shared-components/_buttons.scss */
.button:focus,
input[type=submit]:focus,
button:focus, .button--neutral:focus, .button--success:focus, .button--alert:focus {
  outline: 0;
}

/* line 32, ../../sass/shared-components/_buttons.scss */
.button,
input[type=submit],
button {
  background: #09a25f;
  color: #fff;
}
/* line 39, ../../sass/shared-components/_buttons.scss */
.button:hover,
input[type=submit]:hover,
button:hover {
  background: #038049;
  color: #fff;
}
/* line 44, ../../sass/shared-components/_buttons.scss */
.button:active, .button:focus,
input[type=submit]:active,
input[type=submit]:focus,
button:active,
button:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 50, ../../sass/shared-components/_buttons.scss */
.button--neutral,
input[type=submit].button--neutral,
button.button--neutral {
  background: #ccd6d2;
  color: #3f4542;
}
/* line 57, ../../sass/shared-components/_buttons.scss */
.button--neutral:hover,
input[type=submit].button--neutral:hover,
button.button--neutral:hover {
  background: #8d9994;
  color: #3f4542;
}
/* line 62, ../../sass/shared-components/_buttons.scss */
.button--neutral:active, .button--neutral:focus,
input[type=submit].button--neutral:active,
input[type=submit].button--neutral:focus,
button.button--neutral:active,
button.button--neutral:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 68, ../../sass/shared-components/_buttons.scss */
.button--success,
input[type=submit].button--success,
button.button--success {
  background-color: #39b924;
  color: #fff;
}
/* line 75, ../../sass/shared-components/_buttons.scss */
.button--success:hover,
input[type=submit].button--success:hover,
button.button--success:hover {
  background-color: #249c11;
  color: #fff;
}
/* line 80, ../../sass/shared-components/_buttons.scss */
.button--success:active, .button--success:focus,
input[type=submit].button--success:active,
input[type=submit].button--success:focus,
button.button--success:active,
button.button--success:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 86, ../../sass/shared-components/_buttons.scss */
.button--alert,
input[type=submit].button--alert,
button.button--alert {
  background-color: #f3490d;
  color: #fff;
}
/* line 93, ../../sass/shared-components/_buttons.scss */
.button--alert:hover,
input[type=submit].button--alert:hover,
button.button--alert:hover {
  background-color: #d33e09;
  color: #fff;
}
/* line 98, ../../sass/shared-components/_buttons.scss */
.button--alert:active, .button--alert:focus,
input[type=submit].button--alert:active,
input[type=submit].button--alert:focus,
button.button--alert:active,
button.button--alert:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 3, ../../sass/shared-components/_figure.scss */
figure {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 34.70588rem) {
  /* line 8, ../../sass/shared-components/_figure.scss */
  figure.is-left {
    clear: left;
    float: left;
    padding-right: 1rem;
    max-width: 50%;
    width: auto;
  }
}
@media (min-width: 34.70588rem) {
  /* line 19, ../../sass/shared-components/_figure.scss */
  figure.is-right {
    clear: right;
    float: right;
    padding-left: 1rem;
    max-width: 50%;
    width: auto;
  }
}
/* line 30, ../../sass/shared-components/_figure.scss */
figure img {
  display: block;
  max-width: 100%;
  margin: auto;
}
/* line 36, ../../sass/shared-components/_figure.scss */
figure figcaption {
  color: #8d9994;
}

/* line 3, ../../sass/shared-components/_forms.scss */
input[type=search] {
  -webkit-appearance: textfield;
}

/* line 5, ../../sass/shared-components/_forms.scss */
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 7, ../../sass/shared-components/_forms.scss */
input[type=text],
input[type=number],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #8d9994;
  color: inherit;
  display: block;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0.5rem;
  vertical-align: baseline;
  width: 100%;
}
/* line 30, ../../sass/shared-components/_forms.scss */
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  border: 1px solid #8d9994;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  outline: 0;
}

/* line 37, ../../sass/shared-components/_forms.scss */
textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 44, ../../sass/shared-components/_forms.scss */
select {
  -webkit-appearance: menulist;
  height: 2.85rem;
}

/* line 53, ../../sass/shared-components/_forms.scss */
legend {
  border: 0;
  display: block;
}

/* line 58, ../../sass/shared-components/_forms.scss */
ul.form {
  list-style: none;
  margin: 0 0 1rem 0;
}
/* line 36, ../../sass/core/_grid.scss */
ul.form > li:before, ul.form > li:after {
  content: "";
  display: table;
}
/* line 42, ../../sass/core/_grid.scss */
ul.form > li:after {
  clear: both;
}
/* line 64, ../../sass/shared-components/_forms.scss */
ul.form > li > label {
  clear: left;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding-top: 0.5rem;
  text-align: left;
}
@media (min-width: 34.70588rem) {
  /* line 64, ../../sass/shared-components/_forms.scss */
  ul.form > li > label {
    float: left;
    width: 31.25%;
    margin-left: 0%;
    margin-right: 2.08333%;
    text-align: right;
  }
}
/* line 77, ../../sass/shared-components/_forms.scss */
ul.form > li > label:hover {
  color: #232725;
}
/* line 80, ../../sass/shared-components/_forms.scss */
ul.form div.form--fields {
  margin-bottom: 0.5rem;
}
@media (min-width: 34.70588rem) {
  /* line 80, ../../sass/shared-components/_forms.scss */
  ul.form div.form--fields {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
/* line 87, ../../sass/shared-components/_forms.scss */
ul.form div.form--fields p, ul.form div.form--fields small {
  display: block;
  margin: 0.25rem 0;
}
/* line 92, ../../sass/shared-components/_forms.scss */
ul.form div.form--fields p.form--description {
  margin: 0.5rem 0;
}

/* line 96, ../../sass/shared-components/_forms.scss */
ul.form--checklist {
  list-style: none;
  margin: 0.5rem 0;
}
/* line 100, ../../sass/shared-components/_forms.scss */
ul.form--checklist li {
  margin: 0.5rem 0;
}
/* line 102, ../../sass/shared-components/_forms.scss */
ul.form--checklist input {
  margin-right: 0.5rem;
}
/* line 104, ../../sass/shared-components/_forms.scss */
ul.form--checklist label {
  cursor: pointer;
}
/* line 107, ../../sass/shared-components/_forms.scss */
ul.form--checklist label:hover {
  color: #232725;
}

/* line 113, ../../sass/shared-components/_forms.scss */
li.form--error label {
  color: #f3490d;
}
/* line 116, ../../sass/shared-components/_forms.scss */
li.form--error label:hover {
  color: #d33e09;
}
/* line 119, ../../sass/shared-components/_forms.scss */
li.form--error input,
li.form--error input:focus {
  border: 1px solid #f3490d;
  box-shadow: 0px 0px 3px #f3490d;
}
/* line 125, ../../sass/shared-components/_forms.scss */
li.form--error ul.form--errors {
  color: #f3490d;
  list-style: none;
  margin: 0.25rem 0;
}
/* line 130, ../../sass/shared-components/_forms.scss */
li.form--error ul.form--errors li {
  font-size: 0.875rem;
}

/* line 3, ../../sass/shared-components/_labels.scss */
.label, .label--neutral, .label--success, .label--alert {
  border-radius: 0.125rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.1rem 0.25rem;
}

/* line 10, ../../sass/shared-components/_labels.scss */
.label {
  background: #09a25f;
  color: #fff;
}

/* line 16, ../../sass/shared-components/_labels.scss */
.label--neutral {
  background: #ccd6d2;
  color: #3f4542;
}

/* line 22, ../../sass/shared-components/_labels.scss */
.label--success {
  background-color: #39b924;
  color: #fff;
}

/* line 28, ../../sass/shared-components/_labels.scss */
.label--alert {
  background-color: #f3490d;
  color: #fff;
}

/* line 3, ../../sass/shared-components/_messages.scss */
ul.messages,
div.message {
  list-style: none;
  margin: 0 0 1rem 0;
}

/* line 9, ../../sass/shared-components/_messages.scss */
li.message,
div.message, li.message--neutral,
div.message--neutral, li.message--success,
div.message--success, li.message--alert,
div.message--alert {
  border-radius: 0.125rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0.75rem;
  vertical-align: baseline;
}

/* line 17, ../../sass/shared-components/_messages.scss */
li.message,
div.message {
  background: #09a25f;
  color: #fff;
}

/* line 24, ../../sass/shared-components/_messages.scss */
li.message--neutral,
div.message--neutral {
  background: #ccd6d2;
  color: #3f4542;
}

/* line 31, ../../sass/shared-components/_messages.scss */
li.message--success,
div.message--success {
  background: #39b924;
  color: #fff;
}

/* line 38, ../../sass/shared-components/_messages.scss */
li.message--alert,
div.message--alert {
  background: #f3490d;
  color: #fff;
}

/* line 3, ../../sass/shared-components/_pagination.scss */
ul.pagination {
  font-size: 0.875rem;
  list-style: none;
  margin: 0 0 1rem 0;
  text-align: center;
}
/* line 9, ../../sass/shared-components/_pagination.scss */
ul.pagination li {
  display: inline-block;
  margin-bottom: 0.25rem;
}
/* line 14, ../../sass/shared-components/_pagination.scss */
ul.pagination li.pagination--gap {
  background: none;
  padding: 0.25rem 0.5rem;
}
/* line 19, ../../sass/shared-components/_pagination.scss */
ul.pagination li.is-selected a {
  background: #09a25f;
  color: #fff;
}
/* line 23, ../../sass/shared-components/_pagination.scss */
ul.pagination li.is-selected a:hover {
  background: #038049;
  color: #fff;
}
/* line 28, ../../sass/shared-components/_pagination.scss */
ul.pagination li.is-selected a:active, ul.pagination li.is-selected a:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 34, ../../sass/shared-components/_pagination.scss */
ul.pagination a {
  background: #ccd6d2;
  border-radius: 0.125rem;
  color: #3f4542;
  display: block;
  padding: 0.25rem 0.5rem;
}
/* line 41, ../../sass/shared-components/_pagination.scss */
ul.pagination a:hover {
  background: #8d9994;
  color: #3f4542;
}
/* line 46, ../../sass/shared-components/_pagination.scss */
ul.pagination a:active, ul.pagination a:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* line 3, ../../sass/shared-components/_panels.scss */
.panel, .panel--callout {
  background: #eef2f0;
  border-radius: 0.125rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* line 10, ../../sass/shared-components/_panels.scss */
.panel--callout {
  background: #09a25f;
  color: #fff;
}

/* line 3, ../../sass/shared-components/_quote.scss */
blockquote {
  color: #8d9994;
  font: italic 1.125rem Georgia, serif;
  line-height: 1.5em;
  margin-bottom: 1rem;
  padding: 0 0 0 2.5rem;
  position: relative;
  quotes: none;
}
/* line 12, ../../sass/shared-components/_quote.scss */
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 5rem;
  left: -0.5rem;
  position: absolute;
  top: 1.5rem;
}
/* line 21, ../../sass/shared-components/_quote.scss */
blockquote cite {
  display: block;
  font-size: 0.875rem;
}
/* line 25, ../../sass/shared-components/_quote.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 3, ../../sass/shared-components/_tables.scss */
table {
  border: 1px solid #8d9994;
  border-collapse: separate;
  border-radius: 0.125rem;
  border-spacing: 0;
  margin-bottom: 1rem;
  width: 100%;
}

/* line 12, ../../sass/shared-components/_tables.scss */
thead th {
  background: #fff;
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}

/* line 19, ../../sass/shared-components/_tables.scss */
tbody tr:nth-child(2n+2) {
  background: #fff;
}

/* line 21, ../../sass/shared-components/_tables.scss */
tbody td {
  border-left: 1px solid #ccd6d2;
  border-top: 1px solid #ccd6d2;
  padding: 0.5rem;
}
/* line 26, ../../sass/shared-components/_tables.scss */
tbody td:first-child {
  border-left: 0;
}

/* line 3, ../../sass/shared-components/_tabs.scss */
div.tabs {
  text-align: center;
}
/* line 6, ../../sass/shared-components/_tabs.scss */
div.tabs ul {
  background: #ccd6d2;
  border-radius: 0.125rem;
  display: inline-block;
  list-style: none;
  margin: 0;
  text-align: center;
}
/* line 36, ../../sass/core/_grid.scss */
div.tabs ul:before, div.tabs ul:after {
  content: "";
  display: table;
}
/* line 42, ../../sass/core/_grid.scss */
div.tabs ul:after {
  clear: both;
}
/* line 16, ../../sass/shared-components/_tabs.scss */
div.tabs li {
  float: left;
}
/* line 19, ../../sass/shared-components/_tabs.scss */
div.tabs li:first-child a {
  border-radius: 0.125rem 0 0 0.125rem;
}
/* line 21, ../../sass/shared-components/_tabs.scss */
div.tabs li:last-child a {
  border-radius: 0 0.125rem 0.125rem 0;
}
/* line 24, ../../sass/shared-components/_tabs.scss */
div.tabs a {
  color: #3f4542;
  display: block;
  padding: 0.5rem 0.75rem;
}
/* line 29, ../../sass/shared-components/_tabs.scss */
div.tabs a:hover {
  background: #8d9994;
  color: #3f4542;
}
/* line 34, ../../sass/shared-components/_tabs.scss */
div.tabs a:active, div.tabs a:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 40, ../../sass/shared-components/_tabs.scss */
div.tabs li.is-selected a {
  background: #09a25f;
  color: #fff;
  font-weight: bold;
}
/* line 45, ../../sass/shared-components/_tabs.scss */
div.tabs li.is-selected a:hover {
  background: #038049;
  color: #fff;
}
/* line 50, ../../sass/shared-components/_tabs.scss */
div.tabs li.is-selected a:active, div.tabs li.is-selected a:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-ms-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-moz-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-ms-keyframes scaleDown {
  to {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes scaleDown {
  to {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-ms-keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes scaleUpDown {
  from {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* line 1, ../../sass/shared-components/_nav.scss */
#header {
  position: absolute;
  width: 100%;
  height: 60px;
  background: transparent;
  z-index: 2;
}
/* line 9, ../../sass/shared-components/_nav.scss */
#header ul {
  margin: 0;
  padding: 30px 0;
  text-align: center;
}
/* line 14, ../../sass/shared-components/_nav.scss */
#header ul li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}

/* line 1, ../../sass/pages/_global.scss */
.container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  z-index: 1;
  background: #1C1C1C;
  height: 100%;
}
/* line 13, ../../sass/pages/_global.scss */
.container .loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #1B1C1D;
  z-index: -1;
  opacity: 0;
}
/* line 23, ../../sass/pages/_global.scss */
.container .loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
/* line 32, ../../sass/pages/_global.scss */
.container .page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
/* line 40, ../../sass/pages/_global.scss */
.container .page.ng-leave.ng-leave-active {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
}
/* line 44, ../../sass/pages/_global.scss */
.container .page.ng-enter.ng-enter-active {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -ms-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
}
/* line 54, ../../sass/pages/_global.scss */
.container .page .section {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 100px 30px 30px 30px;
}

/* line 5, ../../sass/pages/_intro.scss */
.container .section.intro {
  background: url("../../images/sections/intro.jpg") 0 0 no-repeat;
  background-size: cover;
}

/* line 5, ../../sass/pages/_gallery.scss */
.container .section.gallery {
  background-color: #181818;
}
/* line 9, ../../sass/pages/_gallery.scss */
.container .section.gallery .gallery-wrapper {
  margin-top: 100px;
}
/* line 15, ../../sass/pages/_gallery.scss */
.container .section.gallery .gallery-wrapper ul li {
  list-style: none;
  display: inline-block;
}
/* line 19, ../../sass/pages/_gallery.scss */
.container .section.gallery .gallery-wrapper ul li a {
  display: block;
  width: 300px;
  height: 201px;
}
/* line 28, ../../sass/pages/_gallery.scss */
.container .section.gallery #zoomImage {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background: url('http://thecongress-movie.com/files/templates/congress/public/assets/img/ajax-loader.gif?v=1') no-repeat center rgba(0,0,0,.8);*/
  z-index: 1000;
  text-align: left;
  cursor: url("../../images/close.png"), default;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 42, ../../sass/pages/_gallery.scss */
.container .section.gallery #zoomImage .zoomInner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 50, ../../sass/pages/_gallery.scss */
.container .section.gallery #zoomImage .zoomInner .zoomItem {
  background-size: cover;
  background-position: 50% 50% !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 6, ../../sass/pages/_synopsis.scss */
.container .section.synopsis {
  background: url("../../images/sections/synopsis.jpg") 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* line 12, ../../sass/pages/_synopsis.scss */
.container .section.synopsis video#intro-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../../images/home-cover.jpg") no-repeat;
  background-size: cover;
}
/* line 25, ../../sass/pages/_synopsis.scss */
.container .section.synopsis .twentytwenty-wrapper {
  float: left;
  width: calc(100% * 0.33333 - 30px + 0.33333 * 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
/* line 47, ../../sass/core/_elf.scss */
.container .section.synopsis .twentytwenty-wrapper:last-child {
  margin-right: 0;
}
/* line 65, ../../sass/core/_elf.scss */
.container .section.synopsis .twentytwenty-wrapper:nth-child(3n) {
  margin-right: 0;
}

@media print {
  /* line 4, ../../sass/core/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 5, ../../sass/core/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 6, ../../sass/core/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 7, ../../sass/core/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 8, ../../sass/core/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 9, ../../sass/core/_print.scss */
  pre, blockquote {
    page-break-inside: avoid;
  }

  /* line 10, ../../sass/core/_print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 11, ../../sass/core/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 12, ../../sass/core/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm;
  }
  /* line 14, ../../sass/core/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 15, ../../sass/core/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
