.container {
    
    .section {          

        &.gallery {
            
            opacity: 0;
            @include animation(fadeIn, 1s, ease, .3s, forwards);     
            background-color: #181818;

            .gallery-wrapper {

            	margin-top: 100px;

            	ul {

            		li {
            			list-style: none;
            			display: inline-block;

            			a {				
            				display: block;
            				width: 300px;
            				height: 201px;
            			}
            		}
            	}
            }

            #zoomImage {

            	position: fixed;
            	left: 0;
            	top: 0;
            	right: 0;
            	bottom: 0;
            	background: url('../../images/utils/loading.gif') no-repeat center;
            	z-index: 1000;
            	text-align: left;
            	cursor: url('../../images/utils/close.png'), default;
            	-webkit-user-select: none;
            	-moz-user-select: none;

            	.zoomInner {
            		position: absolute;
            		top: 0;
            		left: 0;
            		right: 0;
            		bottom: 0;
            		overflow: hidden;

            		.zoomItem {
            			background-size: cover;
            			background-position: 50% 50%!important;
            			position: absolute;
            			top: 0;
            			left: 0;
            			right: 0;
            			bottom: 0;
            		}
            	}
            }

        }
    }
}
    



