.section {
    &.vfx {
        opacity: 0;
        @include animation(fadeIn, 1s, ease, .3s, forwards);
        background: url('../../images/sections/vfx.jpg') 0 0 no-repeat;
        background-size: cover;
        overflow: hidden;

        .vfx-item {
            padding: 0;
        }
    }
}
