<section class="section crew" parallex>
    <div class="inner container">
        <div class="row">
            <div class="box no-padding col-md-8 col-sm-12 col-xs-12" centered>
                <h1><span>03</span> Crew</h1>
                <div class="inner-box no-padding" ng-if="crew.length">
                    <div ng-repeat="c in crew" class="crew-member col-md-4 col-sm-4 {{c.alias}}" ng-click="loadBio(c)" ng-style="{'background': 'url(images/crew/{{c.alias}}.jpg) no-repeat 0 0'}">
                        <div>
                            <h2>{{c.name}}</h2>
                        </div>
                    </div>
                    <div class="crew-member col-md-4 col-sm-4 thanks">
                        <div>
                            <h2>Special Thanks</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
