<section class="section crew" parallex>
    <div class="inner container">
        <div class="row">
            <div class="box no-padding col-md-8 col-sm-12 col-xs-12" centered>
                <h1><span>03</span> Crew</h1>
                <div class="inner-box no-padding">
                    <div class="crew-member col-md-4 col-sm-4 nat">
                        <div>
                            <h2>Natalie Young</h2>
                        </div>
                    </div>
                    <div class="crew-member col-md-4 col-sm-4 darren">
                        <div>
                            <h2>Darren Odonoghue</h2>
                        </div>
                    </div>
                    <div class="crew-member col-md-4 col-sm-4 jon">
                        <div>
                            <h2>Jon Warnes</h2>
                        </div>
                    </div>
                    <div class="crew-member col-md-4 col-sm-4 josh">
                        <div>
                            <h2>Josh Bucker</h2>
                        </div>
                    </div>
                    <div class="crew-member col-md-4 col-sm-4 silvia">
                        <div>
                            <h2>Silvia Rebelo</h2>
                        </div>
                    </div>
                    <div class="crew-member col-md-4 col-sm-4 extra"></div>
                </div>
            </div>
        </div>
    </div>
</section>
