<section class="section synopsis" parallex>
    <div class="inner container">
        <div class="row">
            <div class="box no-padding col-md-6 col-sm-8 col-xs-12" centered>
                <h1><span>02</span> Synopsis</h1>
                <div class="inner-box">
                    <p>Blurring the lines is about consectetur adipisicing elit. Ullam esse sed eius. Nesciunt, laudantium perferendis. Recusandae natus facilis fugit corporis maiores quis earum aperiam reprehenderit laborum dicta. Ipsa minus, consequuntur.</p>
                    <p>Sint officia quaerat deleniti eligendi perferendis. Enim quam minus hic provident voluptates assumenda dolores id ipsum, ipsa necessitatibus maxime labore optio modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam esse sed eius. Nesciunt, laudantium perferendis. Recusandae natus facilis fugit corporis maiores quis earum aperiam reprehenderit laborum dicta. Ipsa minus, consequuntur.</p>
                    <p>Sint officia quaerat deleniti eligendi perferendis. Enim quam minus hic provident voluptates assumenda dolores id ipsum, ipsa necessitatibus maxime labore optio modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam esse sed eius. Nesciunt, laudantium perferendis.</p>
                </div>                
            </div>
        </div>
    </div>
</section>
