<section class="section vfx" parallex>
    <div class="inner container">
        <div class="row">
            <div class="box no-padding col-md-8 col-sm-12 col-xs-12" centered>
                <h1><span>04</span> VFX</h1>
                <div class="inner-box no-padding">
                    <div class="vfx-item col-md-4">
                        <div class="vfx-item twentytwenty-container" twentytwenty>
                        	<img src="images/vfx/1_1.png" />
                          	<img src="images/vfx/1_2.png" />
                        </div>  
                    </div>
                    <div class="vfx-item col-md-4">
                        <div class="vfx-item twentytwenty-container" twentytwenty>
                        	<img src="images/vfx/1_1.png" />
                          	<img src="images/vfx/1_2.png" />
                        </div>  
                    </div>
                    <div class="vfx-item col-md-4">
                        <div class="vfx-item twentytwenty-container" twentytwenty>
                        	<img src="images/vfx/1_1.png" />
                          	<img src="images/vfx/1_2.png" />
                        </div>  
                    </div>
                    <div class="vfx-item col-md-4">
                        <div class="vfx-item twentytwenty-container" twentytwenty>
                        	<img src="images/vfx/1_1.png" />
                          	<img src="images/vfx/1_2.png" />
                        </div>  
                    </div>
                    <div class="vfx-item col-md-4">
                        <div class="vfx-item twentytwenty-container" twentytwenty>
                        	<img src="images/vfx/1_1.png" />
                          	<img src="images/vfx/1_2.png" />
                        </div>  
                    </div>
                    <div class="vfx-item col-md-4">
                        <div class="vfx-item twentytwenty-container" twentytwenty>
                        	<img src="images/vfx/1_1.png" />
                          	<img src="images/vfx/1_2.png" />
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
